/*************************************************************************
 * OWL THEME FOR ROFI
 * User: Sluam  
 *************************************************************************/

* {

    bg0:    #000;
    bg1:    #3B4252;
    bg2:    #4C566A80;
    bg3:    #00C8F0;
    fg0:    #D8DEE9;
    fg1:    #ECEFF4;
    fg2:    #D8DEE9;
    fg3:    #4C566A;
    fg4:    #2e2e2e;
}

